<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borrowing.zwh.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.borrowing.zwh.entity.Admin">
    <id column="id" jdbcType="INTEGER" property="aid" />
    <result column="username" jdbcType="VARCHAR" property="aname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.borrowing.zwh.entity.Admin">
    insert into admin (id, username, `password`
      )
    values (#{aid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.borrowing.zwh.entity.Admin">
    update admin
    set username = #{aname,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where id = #{aid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, `password`
    from admin
    where id = #{aid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select aid, aname, `password`
    from admin
  </select>
</mapper>
