<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.borrowing.zwh.dao.StuMapper" >
  <resultMap id="BaseResultMap" type="com.borrowing.zwh.entity.Stu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="pay" property="pay" jdbcType="INTEGER" />
    <result column="ct" property="ct" jdbcType="VARCHAR" />
    <result column="ut" property="ut" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.borrowing.zwh.entity.Stu" >
    insert into stu (id, `name`, school,
      pay, ct, ut)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR},
      #{pay,jdbcType=INTEGER}, #{ct,jdbcType=VARCHAR}, #{ut,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.borrowing.zwh.entity.Stu" >
    update stu
    set `name` = #{name,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      pay = #{pay,jdbcType=INTEGER},
      ct = #{ct,jdbcType=VARCHAR},
      ut = #{ut,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.borrowing.zwh.model.wechat" >
    update stu
    set `${item}` = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `name`, school, pay, ct, ut
    from stu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStu" resultMap="BaseResultMap" parameterType="com.borrowing.zwh.entity.Stu" >
    select id, `name`, school, pay, ct, ut
    from stu
    where name = #{name,jdbcType=INTEGER}
    and ut = #{ut,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, school, pay, ct, ut
    from stu
  </select>
  <select id="search" resultMap="BaseResultMap" parameterType="com.borrowing.zwh.model.Search" >
    select id, `name`, school, pay, ct, ut
    from stu
    where `${item}` like concat('%',#{search},'%')
  </select>
</mapper>
